<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邀请名单</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
</head>
<style>
    li {
        float: left;
    }
    body {
        padding-top: 50px;
    }
</style>
<body ng-app="nameList">
<div ng-controller="MainController">
    <div class="container" style="background-color:  #edbc80">
        <div class="row">
            <center><h1>邀请名单</h1></center>
        </div>
        <div class="row" style="padding-top: 30px;">
            <div class="col-xs-3">
                <div class="input-group">
                  <span class="input-group-addon">
                      姓名
                  </span>
                    <input type="text" ng-model="guestInfo.name" class="form-control" placeholder="输入姓名">
                </div>
            </div>
            <div class="col-xs-7">
                <div class="input-group">
                  <span class="input-group-addon">
                      电话
                  </span>
                    <input type="text" ng-model="guestInfo.phone" class="form-control" placeholder="输入电话">
                </div>
            </div>
            <div class="col-xs-2">
                <button ng-click="invite()" class="btn btn-success">邀请</button>
            </div>
        </div>
        <div class="row" style="padding: 20px;">
            <a class="btn btn-success btn-xs "  href="#!/all">显示全部</a>
            <a class="btn btn-success btn-xs "  href="#!/invite">显示邀请中</a>
            <a class="btn btn-success btn-xs "  href="#!/accept">显示已接受</a>
            <a class="btn btn-success btn-xs "  href="#!/refuse">显示已拒绝</a>
        </div>
        <div>
            <div class="row" style="padding: 15px;">
                <table class="table table-bordered">
                    <tr>
                        <th>编号</th>
                        <th>嘉宾姓名</th>
                        <th>嘉宾电话</th>
                        <th>受邀状态</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="guest in guests">
                        <td>{{$index+1}}</td>
                        <td>{{guest.name}}</td>
                        <td>{{guest.phone}}</td>
                        <td>{{guest.state}}</td>
                        <td>
                            <button ng-if="guest.state=='邀请中'" ng-click="accept(guest)" class="btn btn-xs btn-success">接受邀请</button>
                            <button ng-if="guest.state=='邀请中'" ng-click="refuse(guest)" class="btn btn-xs btn-danger">拒绝邀请</button>
                            <button ng-click="remove(guest)" class="btn btn-xs btn-default">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="lib/angular/angular.js"></script>
<script src="js/ModelService.js"></script>
<script>
    var app = angular.module('nameList', ['nameList.model']);
    app.controller('MainController', function ($scope, $location,modelService,$http) {
        var state = Guest.ALL;
        $http.get("/listAll")
            .then(function (response) {
                for (var i in response.data) {
                    //遍历每个Guest对象，分别添加到guestList里
                    var userName=response.data[i].name;
                    var userPhone=response.data[i].phone;
                    var userState=response.data[i].state;
                    var test = modelService.add(userName,userPhone,userState);
                    console.log(test);
                }
                // Model层数据更新之后，把更新同步到ViewModel
                $scope.guests = modelService.getList(state);
            });

        var guestInfo = $scope.guestInfo = {
            name: '',
            phone: '',
            state:Guest.INVITE
        };
        // 点击邀请按钮，邀请当前嘉宾
        $scope.invite = function () {
            var msg = modelService.add(guestInfo.name, guestInfo.phone,guestInfo.state);
            // guestInfo.name = '';
            // guestInfo.phone = '';
            switch (msg.code) {
                case 0: // 0 代表成功
                    // Model层数据更新之后，把更新同步到ViewModel
                    $scope.guests = modelService.getList(state);
                    console.log(guestInfo);
                    $http({method:"POST",url:"/add",data:{name:guestInfo.name,phone:guestInfo.phone,state:guestInfo.state}})
                        .then(function (response) {
                            console.log(response);
                        });
                    guestInfo.name = '';
                    guestInfo.phone = '';
                    break;
                case 1: // 1 代表姓名和电话有问题
                    alert('请输入正确的姓名和电话。');
                    guestInfo.name = '';
                    guestInfo.phone = '';
                    break;
                case 2: // 2 代表嘉宾信息重复
                    alert('嘉宾信息有重复，请进行检查');
                    guestInfo.name = '';
                    guestInfo.phone = '';
                    break;
            }
        };
        // 点击删除按钮，删除对应的嘉宾
        $scope.remove = function (guest) {
            $http({method:"POST",url:"/remove",data:guest})
                .then(function (response) {
                    console.log(response);
                });
            console.log(guest.phone);
            modelService.remove(guest);
            // 更新了模型之后，同步模型上的更新到ViewModel上
            $scope.guests = modelService.getList(state);
        };
        // 点击接受邀请按钮
        $scope.accept=function(guest){
            guest.accept();
            $http({method:"POST",url:"/update",data:guest})
                .then(function (response) {
                    console.log(response);
                });
        };
        // 点击拒绝邀请按钮
        $scope.refuse=function(guest){
            guest.refuse();
            $http({method:"POST",url:"/update",data:guest})
                .then(function (response) {
                    console.log(response);
                });
        };
        // 监听$location，完成路由功能，进行列表的筛选
        $scope.location = $location;
        $scope.$watch('location.path()', function (newValue) {
            switch (newValue) {
                case '/all':
                    state = Guest.ALL;
                    break;
                case '/invite':
                    state = Guest.INVITE;
                    break;
                case '/accept':
                    state = Guest.ACCEPT;
                    break;
                case '/refuse':
                    state = Guest.REFUSE;
                    break;
            }
            // 把数据从模型移动到视图模型。
            $scope.guests = modelService.getList(state);
        });
    });
</script>
</body>
</html>



