<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjf.dao.GuestDao">

    <select id="listAll" resultType="com.cjf.entity.Guest">
        SELECT * FROM guest
    </select>


    <insert id="add">
        insert into guest(name,phone,state)
            values(  #{guestName}, #{guestPhone}, #{guestState})
    </insert>

    <update id="update" parameterType="String">
        update guest SET
            state=#{state}
            where phone =#{phone}
    </update>

    <delete id="remove" parameterType="String">
        delete from guest where phone=#{phone}
    </delete>

</mapper>
